@charset "utf-8";
html {
    background: #d7d5da
}

body {
    font-size: 12px;
    line-height: 18px;
    font-family: Tahoma;
    color: #aca5a5;
    font-weight: bold
}

div, form, img, ul, ol, li, dl, dt, dd, p, ipunt, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0
}

li {
    list-style-type: none
}

img {
    vertical-align: top
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden
}

a:link {
    color: #aca5a5;
    text-decoration: none
}

a:visited {
    color: #aca5a5;
    text-decoration: none
}

a:hover {
    color: #09f;
    text-decoration: none
}

a:active {
    color: #09f;
    text-decoration: none
}

ipunt {
    vertical-align: middle
}

.bodyDIV {
    background: url(../images/xx1.jpg) no-repeat center 78px
}

.defaultbody {
    background: url(../images/xx2.jpg) no-repeat center 78px
}

.header {
    margin: 0 auto;
    height: 78px;
    background: url(../images/top_bg.gif) repeat-x
}

.top {
    width: 1040px;
    margin: 0 auto
}

.logo {
    height: 25px;
    width: 276px;
    padding-top: 28px;
    float: left
}

.logo a {
    display: block;
    height: 25px;
    width: 276px;
    background: url(../images/logo.png) no-repeat
}

.menu {
    height: 24px;
    width: 338px;
    margin-top: 29px;
    float: right
}

.menu li {
    float: left
}

.menu li a {
    display: block;
    width: 63px;
    height: 24px;
    background: url(../images/menu.gif) no-repeat left bottom;
    overflow: hidden;
    margin-right: 5px
}

.menu li a:hover, .menu .hover .menuA1 {
    background-position: left top
}

.menu li .menuA2 {
    width: 64px;
    background-position: -68px bottom
}

.menu li .menuA2:hover, .menu .hover .menuA2 {
    background-position: -68px top
}

.menu li .menuA3 {
    width: 70px;
    background-position: -137px bottom
}

.menu li .menuA3:hover, .menu .hover .menuA3 {
    background-position: -137px top
}

.menu li .menuA4 {
    width: 57px;
    background-position: -212px bottom
}

.menu li .menuA4:hover, .menu .hover .menuA4 {
    background-position: -212px top
}

.menu li .menuA5 {
    width: 64px;
    background-position: -274px bottom;
    margin-right: 0
}

.menu li .menuA5:hover, .menu .hover .menuA5 {
    background-position: -274px top
}

.menu li .Workshover {
    background-position: -68px top
}

.menu li .abouthover {
    background-position: -274px top
}

.menu li .servhover {
    background-position: -137px top
}

.menu li .appshover {
    background-position: -212px top
}

.Updates {
    width: 1040px;
    margin: 0 auto
}

.banner {
    width: 1040px;
    margin: 0 auto;
    height: 234px;
    background: url(../images/banner1.png) no-repeat left top
}

.bannerDefaule {
    width: 1040px;
    margin: 0 auto;
    height: 356px;
    background: 0
}

.bannertxt {
    width: 1040px;
    margin: 0 auto;
    position: relative
}

.backgroind {
    width: 1040px;
    margin: 0 auto;
    z-index: -999px
}

.index_news {
    z-index: 999px;
    width: 1076px;
    margin: 0 auto;
    height: 49px;
    position: absolute;
    top: 190px;
    left: -18px;
    background: url(../images/index_news_bg.png) no-repeat top center;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/index_news_bg.png')
}

.index_newsd {
    z-index: 999px;
    width: 1076px;
    margin: 0 auto;
    height: 49px;
    position: absolute;
    top: 190px;
    left: -18px
}

.defaultNews, .defaultNews {
    top: 312px
}

.indexNEws {
    width: 1006px;
    margin: 0 auto;
    height: 44px;
    background: url(../images/index_newsIMg.gif) no-repeat #FFF top left;
    font-weight: bold;
    line-height: 44px;
    padding-left: 34px;
    color: #6b86a2
}

.indexNEws b {
    color: #F90
}

.index_newsd .indexNEws a {
    padding-left: 5px;
    color: #6b86a2
}

.index_conte a {
    float: left
}

.mianbody {
    padding: 6px 0 9px 0
}

.Content {
    width: 1040px;
    margin: 0 auto;
    background: #FFF;
    line-height: 20px;
    font-size: 12px;
    margin-top: 6px
}

.works, .services, .moblie, .clients {
    float: left;
    border-right: 1px solid #e3e5e6;
    padding: 27px 12px 0 12px;
    height: 281px
}

.works {
    width: 250px
}

.Content .cont-p {
    line-height: 18px;
    margin-top: 5px;
    padding-bottom: 8px
}

.services {
    width: 164px;
    padding-top: 178px;
    height: 130px
}

.moblie {
    width: 290px;
    padding: 0;
    padding-top: 27px
}

.moblieapp {
    padding: 0 12px
}

.moblie_top {
    border-bottom: 1px solid #e3e5e6
}

.clients {
    width: 257px;
    border: 0;
    position: relative
}

.Client-logo {
    clear: both;
    margin-top: 5px
}

.Client-logo li {
    float: left;
    margin-right: 20px
}

.Projects {
    margin-top: 10px;
    font-weight: bold
}

.Frog {
    position: absolute;
    top: 213px;
    left: 206px;
    width: 77px;
    width: 105px
}

.nymianbody {
    padding: 0;
    padding-bottom: 9px
}

.ny_banner {
    height: 371px;
    background: url(../images/banner_about.png) center top no-repeat
}

.rvices_banner {
    height: 243px;
    background: url(../images/banner_about2.png) no-repeat top center
}

.works_banner {
    height: 185px;
    background: url(../images/banner_works.png) no-repeat top center
}

.bannerpng {
    width: 960px;
    height: 10px;
    margin: 0 auto;
    overflow: hidden;
    background: url(../images/banner_about_bottom.png) center top;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/banner_about_bottom.png')
}

.ny_bannerd {
    width: 1040px;
    margin: 0 auto;
    margin-top: 15px
}

.aboutbanner {
    width: 628px;
    height: 64px;
    background: url(../images/about_2.png) left top no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/about_2.png')
}

.ny_Content {
    width: 1040px;
    margin: 0 auto;
    margin-top: 6px;
    overflow: hidden
}

.left {
    float: left;
    width: 601px;
    background: #FFF;
    padding: 26px 31px 0 32px
}

.Txt p {
    margin-top: 10px
}

.Txt {
    padding-bottom: 32px
}

.textconter {
    margin-top: 50px;
    line-height: 16px
}

.textconter span {
    color: #00aeef
}

.right {
    float: right;
    width: 330px;
    background: #FFF;
    padding: 26px 20px 0 20px
}

.clientsny {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-top: 18px;
    clear: both;
    padding-bottom: 23px
}

.clientsny .cont-p {
    line-height: 30px;
    font-weight: bold
}

.clientsny .map {
    margin-top: 13px
}

.clientsny .map a {
    display: block;
    width: 330px;
    height: 47px;
    background: url(../images/map.gif) no-repeat left top
}

.clientsny .map a:hover {
    background: url(../images/map.gif) no-repeat left bottom
}

.news {
    background: url(../images/news_sxx.gif) repeat-x left bottom;
    padding-bottom: 15px;
    color: #aca5a5
}

.right .news p {
    margin-top: 8px;
    line-height: 22px
}

.right .news p a {
    margin-top: 8px;
    line-height: 22px;
    color: #aca5a5
}

.row {
    margin-bottom: -10000px;
    padding-bottom: 10000px
}

.news .newsTitel a {
    float: right;
    color: #60b100;
    font-size: 11px;
    font-weight: bold
}

.news .newsTitel a:hover {
    float: right;
    color: #60b100;
    font-size: 11px;
    font-weight: bold
}

.NewsTxt a, .clientsny .Projects p a {
    color: #60b100
}

.clientsny .Projects p {
    text-align: right;
    padding-top: 5px
}

.NewsTxt a:hover, .clientsny .Projects p a:hover {
    color: #60b100
}

#imgPlay {
    OVERFLOW: hidden;
    WIDTH: 1040px;
    ZOOM: 1;
    POSITION: relative;
    HEIGHT: 215px
}

#imgPlay .imgs LI {
    FLOAT: left;
    POSITION: relative
}

#imgPlay .imgs {
    WIDTH: 5760px
}

#imgPlay .prev {
    BACKGROUND: url(../images/Management_anleft.png) left top;
    WIDTH: 13px;
    CURSOR: pointer;
    TEXT-INDENT: -9999px;
    POSITION: absolute;
    TOP: 140px;
    left: 1005px;
    HEIGHT: 26px;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/Management_anleft.png')
}

#imgPlay .next {
    BACKGROUND: url(../images/Management_anright.png) right top;
    WIDTH: 13px;
    CURSOR: pointer;
    TEXT-INDENT: -9999px;
    POSITION: absolute;
    TOP: 140px;
    right: 0;
    HEIGHT: 26px;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/Management_anright.png')
}

#imgPlay .next {
    BACKGROUND-POSITION: right 0;
    LEFT: auto
}

#imgPlay .imgPlayli1 a {
    display: block;
    width: 1040px;
    height: 215px;
    background: url(../images/banner1.png) no-repeat left top
}

#imgPlay .imgPlayli2 a {
    display: block;
    width: 1040px;
    height: 344px;
    background: url(../images/banner3.png) no-repeat left top
}

#imgPlay .imgPlayli3 a {
    display: block;
    width: 1040px;
    height: 344px;
    background: url(../images/banner2.png) no-repeat left top
}

.bannerDefaule #imgPlay {
    height: 344px
}

.bannerDefaule #imgPlay .prev, .bannerDefaule #imgPlay .next {
    TOP: 269px
}

.services_Content {
    width: 1040px;
    background: #FFF;
    position: relative;
    height: 446px
}

.services_Content a {
    float: left
}

.services_p {
    margin-top: 15px
}

.Multimedia, .Website, .Mobile, .Our-customers {
    height: 446px;
    float: left;
    padding: 27px 15px 0 15px;
    background: url(../images/services_line.gif) repeat-y top right
}

.Multimedia {
    width: 237px;
    height: 419px;
    padding-left: 32px
}

.multimeadiimg {
    text-align: center;
    margin-top: 45px
}

.Website {
    width: 180px;
    padding: 0;
    padding-top: 106px;
    height: 340px
}

.websitebody {
    padding: 18px 10px 0 10px
}

.website1 {
    margin-top: 13px
}

.website2 {
    margin-top: 18px
}

.website2 p {
    margin-top: 10px;
    padding: 0 12px
}

.Mobile {
    width: 290px;
    padding: 0;
    padding-top: 79px;
    padding-right: 1px;
    height: 367px
}

.Our-customers {
    background: 0;
    height: 459px;
    padding-right: 32px;
    width: 238px
}

.Our-custul {
    margin-top: 12px;
    width: 219px
}

.Our-customers .services_p {
    width: 219px;
    margin-top: 10px
}

.Our-custul li {
    float: left;
    margin-right: 5px
}

.Our-customers .our-muise {
    text-align: right;
    margin-top: 15px
}

.Auspicious {
    width: 126px;
    height: 190px;
    background: url(../images/Auspicious.png) no-repeat left top;
    position: absolute;
    top: 440px;
    right: 50%;
    margin-right: -661px;
    z-index: 999px
}

.works_left {
    width: 601px
}

.works_list {
    width: 601px;
    text-align: right;
    height: 25px;
    overflow: hidden;
    line-height: 12px;
    font-weight: bold;
    background: url(../images/works.gif) no-repeat left top
}

.Txt .works_list li {
    float: right;
    border-right: 2px solid #888;
    height: 12px;
    overflow: hidden;
    margin-right: 12px;
    padding-right: 12px;
    display: inline;
    margin-top: 4px;
    cursor: pointe
}

.Txt .works_list li.hover {
    color: #09f;
    cursor: pointe
}

.Txt .works_list li a.worklisthover {
    color: #2799ff
}

.woline {
    height: 1px;
    overflow: hidden;
    background: url(../images/news_sxx.gif) repeat-x;
    margin-top: 12px
}

.workslist {
    width: 600px;
    overflow: hidden
}

.ul_wlist {
    display: block;
    padding: 20px 0 0 0;
    width: 620px
}

.ul_wlist li {
    position: relative;
    margin: 0 19px 19px 0;
    float: left;
    width: 185px;
    border: 1px #ececec solid
}

.ul_wlist li img {
    position: relative;
    border: 0
}

.worksd {
    float: left;
    width: 189px;
    margin-right: 17px
}

.worksd li {
    margin-top: 13px;
    position: relative
}

.worksd img {
    border: 1px solid #ececec
}

.worksd .workshovre {
    display: none;
    width: 177px;
    margin: 0 auto;
    height: 61px;
    background: url(../images/works_hover.gif) no-repeat top center;
    position: absolute;
    left: 1px;
    bottom: 1px;
    padding: 8px 5px 0 5px
}

.worksd li a:hover .workshovre {
    display: block
}

.FeaturedProject {
    margin-top: 13px;
    background: url(../images/news_sxx.gif) repeat-x left bottom;
    padding-bottom: 15px
}

.FeaturedProjectd {
    background: 0
}

.FeaturedProject img {
    border: 1px solid #c9c4c5
}

.FeaturedProject h1 {
    font-weight: bold;
    color: #09f;
    line-height: 30px
}

.works_seciver {
    margin-top: 19px;
    font-weight: bold
}

.works_seciver img {
    border: 0
}

.works_seciver .clientsny {
    margin: 0;
    padding: 0
}

.cont_left {
    background: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 681px
}

.contact_lefdt {
    height: 471px
}

.carte {
    height: 130px;
    background: #FFF url(../images/contact1.gif) no-repeat left top
}

.Message {
    background: #FFF;
    margin-top: 10px;
    padding: 23px 24px;
    height: 285px
}

.Message b {
    color: #09f
}

.Message p {
    margin-top: 5px
}

.messagetxt {
    margin-top: 15px;
    color: #737c84
}

.messagetxt input, .messagetxt textarea {
    padding: 0 5px;
    height: 27px;
    border: 0;
    width: 530px;
    background: #dce0e2;
    color: #656b6e;
    font-family: Tahoma;
    line-height: 25px
}

.messagetxt textarea {
    height: 80px;
    width: 530px;
    overflow: hidden
}

.messagetxt .messagean {
    text-align: right;
    padding-right: 93px
}

.cont_right {
    padding: 0;
    width: 349px
}

.cont-rightd {
    height: 471px
}

.blk_29 {
    OVERFLOW: hidden;
    ZOOM: 1;
    width: 1030px;
    POSITION: relative;
    height: 92px
}

.blk_29 .LeftBotton {
    BACKGROUND: url(../images/Management_anleft.png) no-repeat 0 0;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/Management_anleft.png');
    LEFT: 0;
    FLOAT: left;
    WIDTH: 13px;
    height: 26px;
    CURSOR: pointer;
    POSITION: absolute;
    top: 23px;
    z-index: 999em
}

.blk_29 .RightBotton {
    RIGHT: 0;
    BACKGROUND: url(../images/Management_anright.png) no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/Management_anright.png');
    FLOAT: right;
    WIDTH: 13px;
    height: 26px;
    CURSOR: pointer;
    POSITION: absolute;
    TOP: 23px
}

.blk_29 .Cont {
    MARGIN: 0 auto;
    OVERFLOW: hidden;
    WIDTH: 960px
}

.blk_29 .box {
    FLOAT: left;
    WIDTH: 960px;
    height: 92px
}

.blk_29 .box IMG {
    DISPLAY: block;
    MARGIN: 0 auto;
    border: 0
}

.about_news {
    width: 960px;
    height: 92px
}

.AboutNEwsLeft {
    float: left;
    width: 370px;
    background: #FFF;
    margin-right: 9px;
    height: 92px
}

.AboutNewsTxtLeft {
    float: left;
    width: 92px;
    height: 82px;
    background: url(../images/about_news.gif) no-repeat left top;
    margin-right: 8px;
    text-align: center;
    font-size: Tahoma;
    padding-top: 10px
}

.AboutNewsTxtLeft .Date {
    font-size: 46px;
    height: 46px;
    line-height: 46px;
    color: #FFF
}

.AboutNewsTxtLeft .Month {
    color: #c0dfa7;
    height: 20px;
    font-size: 20px;
    line-height: 20px
}

.aboutNewsTxtRight {
    float: left;
    width: 262px;
    padding-right: 8px;
    padding-top: 20px
}

.aboutNewsTxtRight h1 {
    color: #665b5f
}

.aboutNewsTxtRight p {
    color: #b2adaf;
    margin-top: 5px
}

.AboutNewsRight {
    float: left;
    width: 581px;
    background: url(../images/about_news_right.gif) #FFF no-repeat left top;
    height: 92px
}

.app_banner {
    width: 1040px;
    height: 458px;
    margin: 0 auto;
    background: 0
}

.aapBar {
    width: 960px;
    margin: 0 auto;
    padding-top: 87px
}

.app_txt {
    float: left;
    padding-top: 83px
}

.app_img {
    float: right
}

.about_text {
    margin-top: 15px
}

.contacttext {
    font-weight: normal;
    margin-top: 10px
}

.contacttext b {
    color: #09f
}

.app_Content {
    width: 1040px;
    margin: 0 atuo
}

.appnav {
    width: 1040px;
    height: 112px;
    background: url(../images/app_onebg.gif) repeat-x left top
}

.appnavleft {
    float: left;
    padding: 35px 0 0 16px
}

.appnavright {
    float: right;
    padding-top: 24px
}

.appnavright ul li {
    float: left;
    margin-right: 20px
}

.app_Case li {
    margin-top: 12px
}

.app_Case .appstext {
    text-align: right;
    line-height: 22px;
    color: #665a5a
}

.rollphotosimg .Picture {
    width: 1040px;
    height: 346px;
    background: url(../images/banner1.png) no-repeat top center;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/banner1.png')
}

.rollphotosimg .Picture2 {
    background: url(../images/banner2.png) no-repeat top center;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/banner2.png')
}

.rollphotosimg .Picture3 {
    background: url(../images/banner3.png) no-repeat top center;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/banner3.png')
}

.rollphotosimg {
    width: 1040px;
    height: 346px
}

.rollphotosimg .blk_29 {
    width: 1040px;
    height: 346px
}

.rollphotosimg .box {
    width: 1040px;
    height: 346px
}

.rollphotosimg .blk_29 .LeftBotton {
    top: 270px;
    left: 1000px
}

.rollphotosimg .blk_29 .RightBotton {
    top: 270px;
    left: 1027px
}

.Newsmain ul li {
    background: url(../images/news_sxx.gif) repeat-x left bottom;
    padding-bottom: 16px;
    margin-top: 16px
}

.Newsmain ul li .NewsIMg {
    float: left;
    width: 189px;
    height: 112px;
    margin-right: 15px
}

.Newsmain ul li .NewsTxt {
    float: left;
    width: 397px;
    font-weight: bold
}

.Newsmain ul li .NewsTxt h3 {
    font-weight: bold;
    color: #09f;
    height: 14px;
    line-height: 14px
}

.Newsmain ul li .NewsTxt h3 span {
    float: right;
    color: #aca5a5;
    font-weight: 100
}

.Newsmain ul li .NewsTxt h3 span img {
    padding-right: 5px
}

.Newsmain ul li .NewsTxt .NewsTxtP {
    height: 50px;
    color: #aca5a5;
    margin-top: 15px;
    font-weight: bold
}

.Newsmain ul li .NewsTxt a {
    float: right
}

.pageNews {
    margin-top: 15px
}

.pageNews .Number {
    float: left
}

.pageNews .Number a {
    float: left;
    display: block;
    width: 27px;
    height: 27px;
    background: #8dd7e8;
    color: #FFF;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    margin-right: 4px
}

.pageNews .Number a:hover, .pageNews .Number .ahover {
    background: #43a8dd
}

.pageNews .prenext {
    float: right
}

.pageNews .prenext a {
    margin-left: 4px
}

.pageNewsworks {
    margin-top: 16px
}

.Downloadbody {
    background: 0;
    padding-bottom: 0
}

.Download {
    line-height: 33px;
    font-weight: bold;
    color: #aca5a5
}

.Download a {
    display: block;
    width: 234px;
    height: 47px;
    background: url(../images/Download_01.gif) no-repeat
}

.Download a:hover {
    background: url(../images/Download_01.gif) no-repeat left bottom
}

.appdown {
    margin-top: 9px
}

.appdown a {
    display: block;
    width: 330px;
    height: 47px;
    background: url(../images/app.gif)
}

.appdown a:hover {
    background: url(../images/app.gif) no-repeat left bottom
}

.worksdetailed h1 {
    font-weight: bold;
    color: #09f;
    margin-top: 15px
}

.worksdetailed h1 span {
    float: right;
    font-weight: 100;
    color: #aca5a5;
    font-size: 11px
}

.workdtext p {
    margin-top: 15px
}

.workdtext p img {
    border: 1px solid #ececec
}

.workspage {
    line-height: 30px
}

.workspage span {
    margin: 0 5px
}

.workspageleft {
    float: left
}

.workspageright {
    float: right
}

.customer_Content {
    background: #FFF
}

.customer {
    width: 398px;
    background: url(../images/services_line.gif) repeat-y right top;
    padding-top: 95px
}

.customerright {
    width: 533px;
    padding: 0 23px;
    padding-top: 46px
}

.customerrightul li {
    float: left;
    margin: 15px 15px 0 0;
    width: 120px;
    height: 120px;
    background: #f8f9fb;
    border: 1px solid #f1f1f1
}

.footer {
    border-bottom: 32px solid #d7d5da
}

.bottom {
    width: 1040px;
    height: 28px;
    margin: 0 auto;
    padding: 0
}

.copyright {
    float: left;
    color: #857979
}

.tetlphoe {
    float: right;
    width: 302px;
    height: 28px;
    background: url(../images/index_29.png) no-repeat;
    _background: 0;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/index_29.png');
    visibility: hidden
}

.reenooApp {
    background: url(../images/app_bg.gif) no-repeat top center
}

.app_footer {
    border: 0;
    background: #d7d5da;
    margin-top: 20px
}

#ctl00_ContentPlaceHolder1_AspNetPager1 {
    position: relative
}

#ctl00_ContentPlaceHolder1_AspNetPager1 a, #ctl00_ContentPlaceHolder1_AspNetPager1 span {
    display: block;
    float: left
}

#ctl00_ContentPlaceHolder1_AspNetPager1 a {
    background: #8dd7e8;
    color: #FFF;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px
}

#ctl00_ContentPlaceHolder1_AspNetPager1 span {
    background: #43a8dd;
    color: #FFF;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px
}

#ctl00_ContentPlaceHolder1_AspNetPager1 .prev {
    position: absolute;
    color: #FFF;
    top: 0;
    right: 60px;
    height: 27px;
    width: 71px;
    padding: 0;
    margin: 0
}

#ctl00_ContentPlaceHolder1_AspNetPager1 .next {
    position: absolute;
    color: #FFF;
    top: 0;
    right: -3px;
    height: 27px;
    width: 54px;
    padding: 0;
    margin: 0
}

#ctl00_ContentPlaceHolder1_AspNetPager1 a:hover {
    background: #43a8dd;
    color: #FFF
}